.venv
datasets
Desbordante
__pycache__
myeasylog.log

good_datasets

experiments_1.json
experiments_2.json
experiments_3.json

experiments_1_time.out
experiments_1_memory.out
experiments_2_time.out
experiments_2_memory.out
experiments_3_time.out
experiments_3_memory.out
